//FONTS

html {
  @media (max-width: $max-small-screen) {
    font-size: 1rem;
  }
  @media (max-width: $max-medium-screen) {
    html {
      font-size: 100%;
    }
  }
  @media (max-width: $max-big-screen) {
    font-size: 30px;
  }
  @media (max-width: $max-giant-screen) {
    font-size: 140%;
  }
}
