//FONTS

html {
  @media (max-width: $max-giant-screen) {
    font-size: 140%;
  }
  @media (max-width: $max-big-screen) {
    font-size: 130%;
  }
  @media (max-width: $max-medium-screen) {
    font-size: 120%;
  }
  @media (max-width: $max-small-screen) {
    font-size: 16px;
  }
}
