//SCREEN SIZES
$max-small-screen: 600px;
$max-medium-screen: 900px;
$max-big-screen: 1200px;
$max-giant-screen: 1800px;

//COLORS
$dark--text__color: rgb(112, 112, 112);
$h1--color: rgb(95, 84, 87);

$light--text__color: #eadad5;
