# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/other
/src/img/moon
/public/img/bootstrap
/public/img/old-school
/public/img/proff
/public/img/html/other
/public/img/html/old

/public/img/other
/src/img/other