.music-player {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 0.6rem;
  left: 1rem;
  z-index: 1;

  width: 6rem;
  height: 2rem;

  background-color: none; //$dark--shade;

  .music-player--button {
    width: 2rem;
    height: 2rem;
    position: relative;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    :hover {
      path {
        fill: $dark--red__color;
      }
    }
    path {
      fill: none;
      stroke: $dark--red__color;
      stroke-width: 5px;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}
.music-player img {
  height: fit-content;
}
.video {
  display: none;
}
