#name-page {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: move-background;
  animation-duration: 4s;
  animation-fill-mode: forwards;

  background: url("../img/kc-back.jpg");
  background-size: cover;
  z-index: 1;

  cursor: pointer;
  .arrow {
    text-align: center;
    font-size: 3rem;
    width: 3rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    color: #c18284;
    animation-name: move-arrow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .title {
    font-size: 5rem;
    align-self: center;

    font-family: "Montserrat", sans-serif;

    font-size: 10vw;
    letter-spacing: 1.5vh;
    text-transform: uppercase;

    &--button {
      font-size: 2rem;
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      right: 2rem;
      width: 3rem;
      height: 2rem;
      background-color: transparent;
      border: none;
    }
  }
}

@supports (-webkit-background-clip: text) {
  #name-page {
    color: transparent;
    background: url("../img/kc-back.jpg") repeat;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
  }
}

@keyframes move-background {
  0% {
    opacity: 0;
    background-position: 0rem 0rem;
  }
  20% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    background-position: -15rem -15rem;
  }
}
@keyframes move-arrow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
