a {
  color: inherit;
  text-decoration: inherit;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  color: $dark--text__color;
  ul {
    li {
      display: inline;
      list-style: none;
      margin: 2rem;
    }
  }
}
.music-player--video {
  position: fixed;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.up {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  z-index: 2;
  color: $dark--red__color;
  svg {
    width: 12rem;
    height: 11rem;
    transform: scale(0.5);
    position: fixed;
    right: 0;
    bottom: 0;
    path:hover {
      fill: $dark--red__color;
    }
  }
}
