a {
  color: inherit;
  text-decoration: inherit;
}
.navigation {
  padding: 1rem;
  margin-left: 4rem;
  text-transform: uppercase;
  color: $dark--text__color;
  ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: calc(100vw - 6rem);
    li {
      display: inline;
      list-style: none;
      margin: 0 2rem;
    }
  }
}
.music-player--video {
  position: fixed;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.up {
  svg {
    width: 4rem;
    height: 4rem;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 2;
    path:hover {
      fill: $dark--red__color;
    }
  }
}
