.portfolio-item {
  position: relative;
  width: min-content;
  height: min-content;
  background-color: rgba(36, 33, 34, 0.5);
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  &__after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2b2b2bed;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:hover {
      opacity: 0;
      transition-duration: 2s;
      .portfolio-item figure img {
        transform: scale(0.8);
      }
    }
    hr {
      width: 40%;
      margin: 0 auto;
    }
    p {
      max-width: 80%;
      margin: 0 auto;
    }
  }

  figure {
    position: relative;
    img {
      width: 30vw;
      border: 1px solid white;
      //filter: blur(2px) brightness(0.4);
    }

    //zoom out from the image
    img:hover {
      filter: none;
      transform: scale(1.1);
      transition: 1s;
    }
  }
}

@media (max-width: $max-small-screen) {
  .portfolio-item {
    figure {
      img {
        width: 60vw;
      }
    }
  }
}
